# RiscZero Boundless Config
BOUNDLESS_RPC_URL="
BOUNDLESS_VERIFIER_PROGRAM_URL="https://ipfs.io/ipfs/bafybeie7zhnxeet6n2o3od57n2vhetuuo6yutp5xvekjzfdiji2q5wglau"
BOUNDLESS_AGGREGATOR_PROGRAM_URL="https://ipfs.io/ipfs/bafybeif62uqplbyxjceh5m5gez2rj5sxa7gohl6sb6ustgbzyprjwgekiy"
BOUNDLESS_PRIVATE_KEY=""