# RiscZero Boundless Config
BOUNDLESS_RPC_URL="
BOUNDLESS_VERIFIER_PROGRAM_URL="https://ipfs.io/ipfs/bafybeiccn3sk4avylnd72fscowtd2ppklg7fylvdib4cddf7yi7cetulwa"
BOUNDLESS_AGGREGATOR_PROGRAM_URL="https://ipfs.io/ipfs/bafybeifdroqenhwnijttw6vspbjqlwhx7jjdyw6ytadxo2jtyqacgpxkji"
BOUNDLESS_PRIVATE_KEY=""